#Database connection configuration
spring:
  datasource:
    url: jdbc:postgresql://${POSTGRES_HOST}:${POSTGRES_PORT}/${POSTGRES_DB}
    username: ${POSTGRES_USER}
    password: ${POSTGRES_PASSWORD}
    driver:
      class: org.postgresql.Driver

  #Show formated SQL statements
  jpa:
    show-sql: true
    properties:
      hibernate:
        format_sql: true

  #Override duplicated beans encountered in the repositories
  main:
    allow-bean-definition-overriding: true

  #Authorization server configuration
  security:
    oauth2:
      resourceserver:
        jwt:
          issuer-uri: ${ISSUER_URI}

registered:
  client:
    topic:
      name: ${REGISTERED_CLIENT_TOPIC_NAME}
      client-id: ${REGISTERED_CLIENT_TOPIC_CLIENT-ID}
      password: ${REGISTERED_CLIENT_TOPIC_PASSWORD}
    user:
      name: ${REGISTERED_CLIENT_USER_NAME}
      client-id: ${REGISTERED_CLIENT_USER_CLIENT-ID}
      password: ${REGISTERED_CLIENT_USER_PASSWORD}

#Auth-Server port
server:
   port: 8082

logging:
  level:
    org:
      springframework:
        security: trace
